<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Recipe Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/recipes" routerLinkActive="active">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shopping" routerLinkActive="active">Shopping List</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/signin" routerLinkActive="active">Signin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active">Signup</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Manage</a>
        </li> -->
      </ul>
    </form>
  </div>
</nav>